footer{
    background-color: #333333;
    text-align: center;
    color: white;
    min-width: 320px;
}

footer p{
    padding: 1.25rem 0;
    max-width: 30rem;
}

footer .column{
    align-items: center;
}